body { 
    padding-top: 70px;
    background-color: rgb(230,230,230);
}

div.question {
    padding: 20px 23px;
    background-color:white;
}

.questionheader {
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
}

.questiontext {
    margin-top:15px;
    font-family: Arial, sans-serif;
    font-style: italic;
}

.answerbuttons {
	text-align: justify;
    margin-top:25px;
}

.answerbuttons > div {
	width: 20%; 
    height: 60px;
	display: inline-block;

	*display: inline;
	zoom: 1;
    
    text-align: center;
    line-height: 60px;
    font-size:15px;
    background-color: white;
}

.answerbuttons:after {
	content: "";
	width: 100%;
	display: inline-block;
}

.circle {
    width: 23px;
    height: 23px;
    border-radius: 50%;
    font-size: 14px;
    padding-top:1px;
    color: #fff;
    text-align: center;
    background: #424242;
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 10px;
}

.red {
    color: red;
    font-style: italic;
}

div.answerbutton {
    background-color:white;
}

div.answerbutton:hover {
    background-color: lightblue;
    cursor: pointer;
}

div.answeredbutton {
    background-color: lightgray;
    cursor: default;
    color: lightgray;
}

div.answeredbutton > span {
    visibility: hidden;
}

div.correctbutton {
    background-image: url("../img/star.png");
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: center;
    background-color: whitesmoke;
}